/*
 Estilos generales
*/

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 2;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
}

h2 {
    font-size: 2.6em;
    font-weight: bold;
}
h3{
    font-size: 2.4em;
    font-weight: bold;
}

h4{
    font-size: 2em;
    font-weight: bold;
}

.btn {
    display: block;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 0.5em 1.5em;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2em;
    border: none;
    width: 100%;
    max-width: 10em;
}

.btn-primario {
    background-color: rgba(0, 0, 0, 0.96);
}

.btn-secundario {
    background-color: #784D3C;
}



/*
    Estilo para cabecera
*/

.site-header{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
}
.site-header .texto-header{
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.site-header .texto-header p{
    font-size: 1.2em;
}
.barra a h1{
    color: #fff;
    font-size: 4em;
    font-weight: lighter;
}

.barra a h1 span{
    font-weight: bold;
}

.barra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.barra a{
    text-decoration: none;
}

.navegacion{
    display: flex;
    gap: 2rem;
}

.navegacion a{
    color: #ffffff;
}

.contenedor{
    margin: 0 auto;
    width: 90%;
}
.contenido-principal {
        max-width: 90%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 3em;
    margin-left: 5%;
    margin-right: 5%;
}

.contenido-principal-2 {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    margin-left: 5%;
    margin-right: 5%;
}

.contenido-principal-2 .imagen img{
    width: auto;
    height: 400px;
}

.blog .entrada-blog,  .cursos-lista .curso{
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
}

.blog .entrada-blog .imagen img{

    width: 100%;
    height: auto;
}


.curso-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3em;
}
.cursos-lista{
    list-style: none;
}
.cursos-lista .curso .curso-imagen img{
    width: 100%;
    height: auto;
}
.cursos-lista .curso p{
    font-size: 1.4em;
    font-weight: bold;
}
.cursos-lista .curso p span{
    font-size: 1em;
    font-weight: normal;
}

.cursos-lista .curso .curso-descripcion{
    font-size: 1.1em;
    font-weight: normal;
}

.site-footer{
    background-color: rgba(0, 0, 0, 0.96);
    color: #fff;
    padding: 1em 0;
}


/*
    Estilos para pagina de Nosotros
 */


.text-center{
    text-align: center;
}

/*
    Estilos para pagina de Contacto
 */

.contacto-bg{
    background-image: url("../img/contacto.jpg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
}

.formulario {
    background-color: #ffffff;
    margin-top: -5em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 90%;
    padding: 5em;
}

.formulario .campo {
    display: flex;
    margin-bottom: 1em;
}

.formulario .campo label {
    text-align: right;
    padding-right: 1em;
    flex-basis: 6em;
}

.formulario .campo input {
    flex: 1;
    border: 1px solid #ccc;
}

/*
    Modificación del input si es la de enviar se alinea a la derecha
 */
.formulario .campo input[type="submit"]{
    margin-left: auto;
}

.formulario .campo textarea {
    flex: 1;
    border: 1px solid #ccc;
    height: 10em;
}